@import "tailwindcss";

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  background-color: #2563eb; /* bg-blue-600 */
  color: #ffffff; /* text-white */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  border-radius: 0.25rem; /* rounded */
  transition: all 0.2s ease; /* transition-all */
}

.btn-primary:hover {
  background-color: #1e40af; /* hover:bg-blue-800 */
}

.btn-secondary {
  background-color: #e5e7eb; /* bg-gray-200 */
  color: #000000; /* text-black */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  border-radius: 0.25rem; /* rounded */
  transition: all 0.2s ease; /* transition-all */
}

.btn-secondary:hover {
  background-color: #d1d5db; /* hover:bg-gray-300 */
}
